#H-center{
    width: 100%;
    height: 1440px;
}
#H-center p{
    font-family: '宋体';
    font-weight: 800;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-size: 20px;
    line-height: 31px;
    text-indent: 2em; 
    background-color:rgba(0,0,0,0);
}